<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/seatbooking.css">
    <title>Document</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>How many Seats?</h2>
    </div>



  <a href="seat1"><div class="number">1</div></a>
  <a href="seat2"><div class="number">2</div></a>
  <a href="seat3"><div class="number">3</div></a>
  <a href="seat4"><div class="number">4</div></a>
  <a href="seat5"><div class="number">5</div></a>
  <a href="seat6"><div class="number">6</div></a>
  <a href="seat7"><div class="number">7</div></a>
  <a href="seat8"><div class="number">8</div></a>
  <a href="seat9"><div class="number">9</div></a>
  <a href="seat10"><div class="number">10</div></a>
  </div>

  <div class="content-container">
  <h4>ROYAL SOFA &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  ROYAL GOLD  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp ROYAL SILVER      </h4>
  <p>Rs.400.00 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Rs.380.00 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Rs.360.00<p>
    </div>
</div>

  <!-- Assume selectedNumber is the variable representing the selected number -->

</body>
</html>