.img{
    padding-top: 7px;

}
/*.backimage{
    background-image: url("backgroud-JawanImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* Set the aspect ratio here, e.g., 16:9 */
   /* padding-top: 5%; /* 9/16 = 56.25% (for a 16:9 aspect ratio) */
   /* overflow: hidden;
}*/
.about-movie{
    padding-top: 5px;
    height: 25%;
}
.text{
    font-size: 30px;
    padding-left: 8px;
    padding-top: 5px;

}
.share-option {
    position: fixed;
    top: 85px;
    right: 30px;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Style for the share icon (adjust the size and color as needed) */
.share-icon {
    width: 24px;
    height: 24px;
    fill: #007bff; /* Adjust the color as needed */
}