body{
    background-image: url("pop-corn.jpg");
    background-repeat: no-repeat;
   background-size:cover;
   margin: 0;
   
}
html,body{
    height:100%;
}

.formData{
    padding-left: 60%;
    padding-right: 10px;
    color: black;
    font-weight: bold;
}
h1{
    text-align: center;
    color: white;
    text-decoration: solid;
    text-shadow: 2px 2px 4px #000000;
}
formstyle{
    background-color: white;
}
#genderstyle{
    color: white;
}