/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply styles to the container */
#formstyle{
     display: flex;
    width:500px; /* Adjust the max-width as needed */
     margin: 0 auto;
     float: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

body{
    background-image: url("pop.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% 100%;
}
/*html,body{
    height:100%;
}*/

.formData{
    padding-left: 60%;
    padding-right: 10px;
    color: black;
    font-weight: bold;
}
h1{
    text-align: center;
    color: white;
    text-decoration: solid;
    text-shadow: 2px 2px 4px #000000;
}
formstyle{
    background-color: white;
}
.regbutton{
    text-align: center;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    
}