body{
    background-color: rgb(245, 241, 241);
}
.containerclass{
    text-align:left;
    padding-top: 40px;
    padding-left: 230px;
}
.line{
    width: 70%;
    margin: 0 auto;
}
.list-inline{
    text-align: left;
    padding-top: 20px;
    padding-left: 230px;
}
#no-border {
    border: none; /* Remove the border */

}
.list-inline-item{
    width: 50px;
    height: 50px;
    text-align: center;
    border: 2px solid green;
    line-height: 50px; /*centering text to center of a box*/

}
.rectangle {
    width: 400px;
    height: 50px;
    background-color: lightblue; /* Light blue background color */
    border: 1px solid black;
    box-shadow: 5px 5px 10px blue; /* Blue shadow */
    margin: 0 auto; /* Center horizontally */
    margin-top: 15vh; /* Center vertically */
    transform: translateY(-50%); /* Adjust vertical centering */
  }
  .selected-seat {
    background-color: green;
}

.seat:hover {
    cursor: pointer;
    background-color: lightblue;
}

.seat.selected {
    background-color: lightblue; /* Retain the blue color for selected seats */
}
.occupied{
    background-color: #ff8080; /* Light red for occupied seats */
    cursor: not-allowed; 
}
.removedot{
    list-style-type:none;
}
.showcase {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.showcase .removedot {
    margin-right: 10px; /* Adjust the margin as needed */
}

.showcase .seatFill,
.showcase .seatselectedfill,
.showcase .seatoccupiedfill {
    width: 70px;
    height: 50px;
    text-align: center;
    border: 2px solid green;
    line-height: 50px; /* centering text to the center of a box */
    margin-right: 10px; /* Adjust the margin as needed */
}

.showcase .seatselectedfill {
    background-color: lightblue;
}

.showcase .seatoccupiedfill {
    background-color: #ff8080;
}

.showcase small {
    display: block;
    margin-top: 5px; /* Adjust the margin as needed */
}
